.appointment-requests-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.access-requests-container{
    z-index: 999;
}