.primary-button{
    padding: 1rem 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background: linear-gradient(62deg, #289FC5 -5.38%, #32C2F0 36.3%, #82DEFB 84.55%);
    font-family: var(--typography-s);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-n12);
    margin-top: 1rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10); 
    cursor: pointer;
    text-align: center;
}